stages:
    - build
    - publish

maven_package:
    image: maven:3.8.4-eclipse-temurin-16
    stage: build
    artifacts:
      untracked: false
      expire_in: 7 days
      paths:
        - target/minecord-*.jar
    script:
        - mvn clean package

publish_to_github:
    image: registry01.eps-dev.de/gitlab/releaseassistant/main
    stage: publish
    rules:
        - if: $CI_COMMIT_TAG
    needs:
      - maven_package
    script:
        - mv target/minecord-*.jar ./
        - python /main.py
